<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 
 


  <!-- Main Content -->
  <main class="container">
  <div class="jumbotron">
  <h1 class="display-5"><%= title %></h1>
 

</div>

<body>
  <div class="container">
    
<ul class="list-group">
  <li class="list-group-item"><%= project1 %></li>
  <li class="list-group-item"><%= project2 %></li>
  <li class="list-group-item"><%= project3 %></li>
</ul>
  </div>
  
</body>


</main>

<%- include partials/bottom_nav.ejs %> 

<%- include partials/footer.ejs %> 






 













